<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 要使用springProperty属性，logback配置文件需要命名为logback-spring.xml -->
    <springProperty scope="local" name="LOG_LEVEL" source="logback.level" defaultValue="INFO" />
    <springProperty scope="local" name="LOG_PATH" source="logback.path" defaultValue="/data/log/zns" />
    <contextName>zns-service-provider</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %contextName [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
        <file>${LOG_PATH}/sys-running.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/sys-running.log.%d{yyyy-MM-dd}.%i.gz
            </fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %contextName [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${LOG_LEVEL}">
        <!-- appender referenced after it is defined -->
        <appender-ref ref="FILE_LOG"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
